#myContainer {
    width: 400px;
    height: 400px;
    position: relative;
    border: 3px solid darkgray;
    border-bottom: 3px solid orange;
    border-radius: 5px;
    overflow: hidden;
}

#myAnimation1 {
    width: 50px;
    height: 50px;
    position: absolute;
    background-color: none;
    border-radius: 2px;
}

#myAnimation2 {
    width: 50px;
    height: 50px;
    position: absolute;
    background-color: none;
    border-radius: 2px;
}

#myAnimation3 {
    width: 50px;
    height: 50px;
    position: absolute;
    background-color: inherit;
    border-radius: 2px;
}

#myAnimation4 {
    width: 50px;
    height: 50px;
    position: absolute;
    background-color: inherit;
    border-radius: 2px;
}

#wall1 {
    background: darkgray;
    position: absolute;
    height: 10px;
    border-radius: 2px;
}

#blast1 {
    background: red;
    position: absolute;
    height: 200px;
    width: 200px;
    border-radius: 100px;
    opacity: 0;
}

#blast2 {
    background: blue;
    position: absolute;
    height: 200px;
    width: 200px;
    border-radius: 100px;
    opacity: 0;
}

#blast3 {
    background: green;
    position: absolute;
    height: 200px;
    width: 200px;
    border-radius: 100px;
    opacity: 0;
}

#blast4 {
    background: purple;
    position: absolute;
    height: 200px;
    width: 200px;
    border-radius: 100px;
    opacity: 0;
}

button {
    padding: 10px;
    font-size: 20pt;
    border-radius: 10px;
    background-color: #eee;
}
button:hover {
    background-color: #ccc;
}
button:active {
    background-color: #aaa;
}
